h1 {
    font-family: "RobotoLight";
    font-size: 48px;
}
img {
    border-radius: 5px;
}
.catBlock {
    width: 1000px;
}
.catBlockDown {
    display: flex;
}
.catBlockLeft {
    float: left;
}
.catImage {
    width: 550px;
    background: #000;
}
.catBlockRight {
    margin-left: 25px;
}
.catButton {
    background-color: white; 
    padding: 5px 20px;
    font-family: "RobotoLight";
    font-size: 24px;
}