.headerMain {
    justify-content: center;
    display: flex;
    height: 585px; 
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    padding: 25px 40px;
    font-size: 24px;
    font-weight: 900 ;
    font-family: 'RobotoLight';
}   

.header {
    justify-content: center;
    display: flex;
    height: 150px; 
}

.page {
    display: flex;
    width: 100%;
    margin: auto;
    padding-top: 30px;
    background: white;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

.about {
    width: 1000px; 
    justify-items: center; 
    margin: auto;
}

.ab {
    font-size: 20px;
    font-family: "RobotoLight";
    padding-left: 15px;
    text-align: justify;
}

@font-face {
    font-family: "RobotoLight";
    src: url("res/fnts/Roboto-Light.ttf");
}

footer {
    height: 100px; 
    background: #000;
    display: flex;
    justify-content: space-between;
    grid-area: footer;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
}
.catalogElement {
    border-radius: 5px;
}


.footerKeImage {
    height: 75px;
    background: #000;
    margin: 15px;
}

.footerUpP {
    text-align: center;
    font-family: "RobotoLight";
    font-size: 24px;
    font-weight: 900;
    color: white;
}

.footerDownP {
    text-align: center;
    font-family: "RobotoLight";
    font-size: 12px;
    font-weight: 900;
    color: white;
}
.footerRight {
    width: 400px;
}

.footerRightDiv {
    justify-content: flex-end; 
    display: flex;
    margin: 15px;
}

.footerLocation {
    justify-content: flex-end; 
    display: flex;  
    height: 30px; 
    transform: translateY(30%); 
    padding-right: 10px;
}

.footerSocial {
    height: 30px; 
    transform: translateY(30%); 
    padding-right: 10px;
    filter: invert(29%) sepia(50%) saturate(1786%) hue-rotate(118deg) brightness(94%) contrast(102%);
}

.footerPhoneIco {
    height: 30px; 
    transform: translateY(30%); 
    padding-right: 10px;
}

.footerPhoneText {
    font-family: "RobotoLight"; 
    font-size: 20; 
    font-weight: 900; 
    color: white;
}

.pageTitle {
    font-family: "RobotoLight"; 
    font-size: 24px;
}

.embedDiv {
    width: 1200px;
}

.embed {
    border: #000 1px solid;
}

tr td {
    font-size: 20px;
    font-family: "RobotoLight";
}

table {
    width: 1000px;
}